<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- Nếu cần chạy lâu dài -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" /> <!-- Thêm quyền này -->

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.SelfAlarm"
        tools:targetApi="31">
        <service
            android:name=".MusicService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <activity
            android:name=".activity.MenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MusicPlayerActivity" />
        <activity android:name=".activity.alarmActivity.AlarmActivity" />
        <activity android:name=".activity.alarmActivity.AlarmRingActivity" />
        <activity android:name=".activity.musicActivity.MusicActivity" />
        <activity android:name=".activity.phoneActivity.PhoneCallActivity" />
        <activity android:name=".activity.phoneActivity.ContactPhoneActivity" />
        <activity android:name=".activity.phoneActivity.HistoryActivity" />
        <activity android:name=".activity.phoneActivity.ContactDetailActivity" />
        <activity android:name=".activity.messageActivity.MessageActivity" />
        <activity android:name=".activity.messageActivity.NewMessageActivity" />

        <receiver
            android:name=".broadcast_receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>
        <activity
            android:name=".activity.messageActivity.DetailMessageActivity"
            android:windowSoftInputMode="adjustResize" />

        <receiver
            android:name=".activity.messageActivity.SmsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".activity.messageActivity.SmsService"
            android:exported="false" />

        <provider
            android:name=".activity.messageActivity.SmsContentProvider"
            android:authorities="com.example.selfalarm.smsprovider"
            android:exported="false" />
    </application>

</manifest>